# PyTorch 2.0
# torchvision
# Other dependencies: pyyaml, numpy, opencv, submitit

# https://stackoverflow.com/questions/60912744/install-pytorch-from-requirements-txt
# deprecated --find-links https://download.pytorch.org/whl/torch_stable.html
# https://pytorch.org/get-started/previous-versions/
# pip install torch==2.1.2 torchvision==0.16.2 torchaudio==2.1.2 --index-url https://download.pytorch.org/whl/cu121
# --index-url https://download.pytorch.org/whl/cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# packaging
# scipy
torch==2.2.0
torchvision==0.17
numpy
pyyaml
opencv-python
submitit
timm==0.4.5
tensorboard
# tqdm
# ml-collections

